.calculator {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.calculator-main {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.calculator-history {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}

.calcul-input {
  border: none;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.calcul-input input:focus {
  outline: 1px rgb(83, 83, 83);
}

.formula,
.input-value {
  float: right;
  margin: 3px;
  text-align: right;
  overflow: auto;
}

.formula {
  font-weight: 300;
  color: #70757a;
  font-size: 13px;
  height: 17px;
}

.input-value {
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.calcul-btns {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 5px 0px;
  flex-wrap: wrap;
}

.calcul-btns li {
  margin: 5px;
  font-size: 14px;
}

.calcul-btns button {
  padding: 5px;
  width: 50px;
  height: 50px;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  font-weight: 500;
  font-size: 14px;
}

.calcul-btns button:hover {
  background-color: rgb(236, 236, 236);
}

.calcul-btns button:active {
  background-color: rgb(236, 236, 236);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.history {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 5px;
}

.history button {
  padding: 3px;
  border: none;
  background-color: whitesmoke;
}

::-webkit-scrollbar {
  width: 5.2px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #404040;
}
::-webkit-scrollbar-thumb:active {
  background: #808080;
}
::-webkit-scrollbar-button {
  display: none;
}
